.hr-animation{
  margin-top: 0;
  padding-top: 0;
}

.animation-cat-box{
  overflow: hidden;
  width:100%;
  height: 200px;
  margin-top:-200px;
  z-index: 0;
}
.animation-fox-box{
  width:100%;
  height: 300px;
  margin-top:-300px;
  overflow: hidden;
}
/*ANIMALS*/
.cat-walking{
  animation: cat-walking 80s linear infinite;
  width:100px;
  position: relative;
  bottom:-405px;
  transform: scaleX(-1);
}

  @keyframes cat-walking {
    0% {
      margin-left: -1000px;
    }
    50% {
      margin-left:7000px;
      transform: scaleX(-1);
    }
    51%{
      transform: scaleX(1)
    }
    99%{
      transform: scaleX(1)
    }
    100%{
      margin-left: -1000px;
      transform: scaleX(-1);
    }
}

.fox-walking{
  position:relative;
  width: 100px;
  bottom: -452px;
  transform: scaleX(-1);
  animation: fox-walking 120s linear infinite;
}

@keyframes fox-walking {
  0% {
    margin-left: -1000px;
  }
  25% {
    margin-left:3000px;
    transform: scaleX(-1);
  }
  51%{
    margin-left:3000px;
    transform: scaleX(1)
  }
  75%{
    margin-left: -1000px;
    transform: scaleX(1)
  }
  100%{
    margin-left: -1000px;
    transform: scaleX(-1);
  }
}

.jaguar-walking{
  animation: jaguar-walking 15s linear infinite;

  width:100px;
  position: relative;
  bottom:-425px;

}

@keyframes jaguar-walking {
  0% {
    margin-left: -1000px;
  }
  50% {
    margin-left:3000px;
    transform: scaleX(1);
  }
  51%{
    transform: scaleX(-1)
  }
  99%{
    transform: scaleX(-1)
  }
  100%{
    margin-left: -1000px;
    transform: scaleX(1);
  }
}

/*BACKGROUNDS
--bubble-left-offset: #{random_range(0vw, 100vw)};
.bubble1{
  width: 100px;
  height: 100px;
  position: absolute;
}
.bubble1 {
  animation: bubble1 15s linear infinite;
  z-index:100;
}
@keyframes bubble1 {
  0% {
    margin-top:140%;
    left: 50%;
  }
  40%{
    left: 60%;
  }
  100% {
    margin-top:-10%;
    left:80%;
  }
}
  .bubble2{
    width: 80px;
    height: 80px;
    position: absolute;
  }
  .bubble2 {
    animation: bubble2 15s linear infinite;
    z-index:100;
  }
  @keyframes bubble2 {
    0% {
      margin-top:140%;
      left: 20%;
    }
    70%{
      left: 10%;
    }
    100% {
      margin-top:-10%;
      left:30%;
    }
}
