.dino-game{
  width: 100%;
  height: 250px;
  border: 2px solid black;
  background: #889ddf;
  position: relative;
  overflow: hidden;
}
/*game elements*/
#kitty{
  width: 60px;
  height: 50px;
  top: 155px;
  left: 80px;
  position: absolute;
  background-image:url(../img/games-cat.webp);
  background-size: 60px 50px;
  z-index: 1;
}

#star{
  height: 50px;
  width: 50px;
  background-image:url(../img/games-star.webp);
  background-size: 50px 50px;
  position: absolute;
  top: 166px;
  left: 400px;
  animation: star-flying 3s infinite linear;
}
@keyframes star-flying{
  0%{
    left: 900px;
  }
  100%{
    left: -100px;
  }
}
#cloud{
  width: 400%;
  height: 50px;
  position: absolute;
  top: 200px;
  background-image:url(../img/games-cloud.webp);
  background-size: auto 50px;
  z-index: 3;
  animation: cloud-scrolling 5s infinite linear;
}
@keyframes cloud-scrolling{
  0%{
    left: 0px;
  }
  100%{
    left: -580px;
  }
}
/*jumping boxes and their checkboxes*/
.standard-jump-box{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  /*background: rgb(255, 0, 0, 0.5);*/
}
#standard-jump{
  left:10px;
  position: absolute;
}
.good-jump-box{
  width: 50%;
  height: 100%;
  position: absolute;
  z-index: 6;
  /*animation: good-jump-window 3s linear infinite;*/
  background: rgb(0, 255, 0, 0.5);

}
#good-jump{

  position: absolute;
}
/*interaction by checking boxes*/
/*standard jump*/

/*good jump*/
input[id*="jump"]:checked ~ #kitty {
  animation: jump2 0.6s cubic-bezier(0.21, 0.5, 0, 0.85);
  background: blue;
}
input[id*="jump"]:not(:checked) ~ #kitty{
  animation: jump 0.6s cubic-bezier(0.21, 0.5, 0, 0.85);
  background: red;
}


#standard-jump:checked ~ #kitty{
  animation: jump3 0.6s cubic-bezier(0.21, 0.5, 0, 0.85);
  background: green;
}
#standard-jump:not(:checked) ~ #kitty{
  animation: jump4 0.6s cubic-bezier(0.21, 0.5, 0, 0.85);
  background: black;
}

/*other animations*/
@keyframes jump{
  0%{
    top: 155px;
  }
  50%{
    top: 55px;
  }
  100%{
    top: 155px;
  }

}

@keyframes jump2{
  0%{
    top: 155px;
  }
  50%{
    top: 55px;
  }
  100%{
    top: 155px;
  }
}
@keyframes jump3{
  0%{
    top: 155px;
  }
  50%{
    top: 55px;
  }
  100%{
    top: 155px;
  }
}
@keyframes jump4{
  0%{
    top: 155px;
  }
  50%{
    top: 55px;
  }
  100%{
    top: 155px;
  }
}
