<head>
  <link href="../resources/css/style.css" type="text/css" rel="stylesheet">
  <link href="../resources/css/animation.css" type="text/css" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="license" href="https://creativecommons.org/publicdomain/zero/1.0/legalcode">
  <meta property="og:site_name" content="Gentle Living Shop">
  <!--favicon-->
  <link rel="apple-touch-icon" sizes="180x180" href="../resources/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../resources/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../resources/favicon/favicon-16x16.png">
  <link rel="manifest" href="../resources/favicon/site.webmanifest">
  <link rel="mask-icon" href="../resources/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="theme-color" content="#daf0e2">
