<a href="./soap-guide-part-3-tools-and-ingredients.html" class="tag-soapmaking"><div><img src="./resources/img/soap-guide-part-3-tools-and-ingredients-feature.webp"><h3>第三集：安全裝備，用具與材料 | 手工皂製作教學</h3><p>我們為你提供一個冷製皂需要的用具，材料與安全裝備列表，並教你什麼容器適合存放鹼液。</p></div></a>
<a href="./soap-guide-part-2-recipes.html" class="tag-soapmaking"><div><img src="./resources/img/soap-guide-part-2-recipes-feature.webp"><h3>第二集：創建自己的配方 | 手工皂製作教學</h3><p>我們教你如何計天然算皂配方，從皂化價到超脂/減鹼，到水用量到添加精油和黏土，我們都為你講解清楚。</p></div></a>
<a href="./soap-guide-part-1-basics.html" class="tag-soapmaking"><div><img src="./resources/img/soap-guide-part-1-basics-feature.webp"><h3>第一集：製皂基礎 | 手工皂製作教學</h3><p>了解製作皂的安全措施，背後的科學，不同的製皂方式，軟水硬水對皂的影響。並教你解讀製皂過程中不同的階段。</p></div></a>
<a href="./hanfu-tshirt-sewing-guide.html" class="tag-sewing tag-pdf tag-videos"><div><img src="./resources/img/hanfu-tshirt-sewing-guide-feature.webp"><h3>漢服短袖T恤剪裁教學 – 可不用縫紉機</h3><p>漢服的剪裁採用平面打板, 用這個方式製作T恤既易懂又省時間 - 它只有兩個需要縫合的地方! 如果你有被一般T恤的袖子打板難道, 那這個教程可以解除你的憂愁。</p></div></a>
<a href="./make-washing-soda.html" class="tag-homemaking tag-videos"><div><img src="./resources/img/make-washing-soda-feature.webp"><h3>如何把小蘇打（碳酸氢钠）變成純鹼（碳酸鈉/食用鹼/洗滌鹼/鹼麵）</h3><p>我們將會教你如何把小蘇打變成純鹼（碳酸氢钠變碳酸钠）。它可以用來製作麵食，清洗衣物布料，清潔廚房和廁所，以及去除不鏽鋼上的污漬等等。它是用途廣泛而無毒害的居家必備！</p></div></a>


<!--<a href="./bye-youtube-hello-peertube.html" class="tag-privacy tag-videos tag-foss"><div><img src="./resources/img/bye-youtube-hello-peertube-feature.webp" alt="bye youtube logo, hello peertube and logo"><h3>Bye YouTube, Hello PeerTube 📺 (no ads, decentralised, privacy-friendly!)</h3><p>We talk about why we will no long publish videos to YouTube and why we choose PeerTube instead. It's a better and more ethical home for our videos!</p></div></a>
<a href="./sew-versatile-bow-tie-pants.html" class="tag-sewing tag-pdf tag-videos"><div><img src="./resources/img/sew-versatile-bow-tie-pants-feature.webp" alt="woman and man wearing bow tie pants"><h3>Versatile Bow Tie Pants Sewing & Pattern-Making Tutorial</h3><p>These pants will fit you through all your bodily changes (weight gain, weight loss, pregnancy...). We teach you how to draft the pattern and sew them!</p></div></a>
<a href="./sew-canvas-backpack.html" class="tag-sewing tag-pdf tag-videos"><div><img src="./resources/img/sew-canvas-backpack-feature.webp" alt="canvas backpack feature photo"><h3>Sew a Canvas Backpack from Scratch (Tutorial + Pattern)</h3><p>This canvas backpack free pattern is easy to sew up. You customise it too. It is minimal yet functional and also made with natural and eco-friendly fabrics!</p></div></a>
<a href="./upcycled-muscle-tank.html" class="tag-sewing tag-videos"><div><img src="./resources/img/upcycled-muscle-tank-feature.webp"><h3>Upcycled Muscle Tank {from fabric scraps} | Sewing Sesh 🧵</h3><p>We show you how to upcycle cotton jersey fabric scraps into a functional muscle tank top using a simple t-shirt patter. A little bit of patchwork, some creativity and a lot of fun!</p></div></a>
    <a href="./css-scroll-to-top-button.html" class="tag-website-design tag-videos"><div><img src="./resources/img/css-scroll-to-top-button-feature.webp"><h3>Scroll to Top Button (HTML and CSS Only)</h3><p>We walk you through how to create a teardrop-shaped scroll to top of the page button using simple HTML and CSS - without JavaScript!</p></div></a>
    <a href="./old-website.html" class="tag-website-design tag-privacy tag-videos"><div><img src="./resources/img/old-website-feature.webp"><h3>Privacy Respecting and Fun WordPress.org Plugins and Our Old Website</h3><p>Check out our old website built on WordPress.org and our favourite privacy respecting plugins we used. See how far we've come!</p></div></a>
    <a href="./waxed-canvas-diy.html" class="tag-homemaking tag-videos"><div><img src="./resources/img/waxed-canvas-diy-feature.webp"><h3>Wax Canvas at Home with soy wax (DIY Waxed Canvas)</h3><p>We share with you how we make waxed canvas at home. We use soy wax  and canvas to create a sturdy, water-resistant fabric for waterproof jackets, backpacks and more.</p></div></a>
    <a href="./scour-fabric.html" class="tag-homemaking tag-videos"><div><img src="./resources/img/scour-fabric-feature.webp"><h3>How to Scour Cotton Canvas Fabric (Cellulose Fibres)</h3><p>We share with you how we scour our fabrics at home. We use homemade washing soda and liquid soap to get all the gunk out of our fabrics.</p></div></a>
    <a href="./foss-android-apps.html" class="tag-foss tag-privacy tag-videos"><div><img src="./resources/img/foss-android-apps-feature.webp"><h3>Our favourite free and open source Android apps (F-droid)</h3><p>We share with you our favourite free and open source Android apps. They include useful tools, internet apps and multimedia apps. You can download them using F-droid.</p></div></a>
    <a href="./make-washing-soda.html" class="tag-homemaking tag-videos"><div><img src="./resources/img/make-washing-soda-feature.webp"><h3>Make Washing Soda/Soda Ash from Baking Soda for Fabric Scouring, Dying, Laundry, Cleaning & Cooking</h3><p>Easily make washing soda/soda ash from baking soda! Use it to scour cellulose fabrics, clean laundry, the kitchen and stainless steel.</p></div></a>
    <a href="./liquid-soap-tutorial.html" class="tag-soapmaking tag-pdf tag-videos"><div><img src="./resources/img/liquid-soap-tutorial-feature.webp"><h3>Make Liquid Soap At Home Without a Stick Blender (recipe building and tutorial)</h3><p>We share with you how we make hypoallergenic and fragrance-free liquid soap. This gentle soap is perfect for dishes &amp; hand-washing clothes.</p></div></a>
    <a href="./soap-guide-pdf.html" class="tag-soapmaking tag-pdf"><div><img src="./resources/img/soap-guide-pdf-feature.webp"><h3>Beginner’s Guide PDF Download | Learn How to Make Natural Soap! Introduction</h3><p>Soapmaking is a science and an art. We&#039;ll share with you a PDF explaining the basics of soapmaking and providing you with a practical guide.</p></div></a>
    <a href="./soap-guide-part-5-our-recipes.html" class="tag-soapmaking"><div><img src="./resources/img/soap-guide-part-5-our-recipes-feature.webp"><h3>Our Soap Recipes for Inspiration | Part 5: Learn How to Make Natural Soap!</h3><p>100% coconut oil household soap, turmeric red clay shea butter soap, sea salt soap, liquid soap... We share our formulas &amp; recipes in detail.</p></div></a>
    <a href="./soapmaking-terms-and-definitions.html" class="tag-soapmaking"><div><img src="./resources/img/soapmaking-terms-and-definitions-feature.webp"><h3>Soapmaking Terms and Definitions</h3><p>A list of natural soapmaking terms defined in simple English.</p></div></a>
    <a href="./soap-guide-part-4-steps.html" class="tag-soapmaking"><div><img src="./resources/img/soap-guide-part-4-steps-feature.webp"><h3>Step by Step Cold Process Soapmaking | Part 4: Learn How to Make Natural Soap!</h3><p>List of the steps we take making cold process soap, each step is explained in detail including clean up tips! A good reference for beginners!</p></div></a>
    <a href="./soap-guide-part-3-tools-and-ingredients.html" class="tag-soapmaking"><div><img src="./resources/img/soap-guide-part-3-tools-and-ingredients-feature.webp"><h3>Safety Gear, Tools and Ingredients | Part 3: Learn How to Make Natural Soap!</h3><p>A checklist of everything needed for (cold process) soapmaking - knowledge on lye-safe containers, safety gear, oils, chelator, and more!</p></div></a>
    <a href="./crochet-bean-bag.html" class="tag-crochet tag-pdf tag-videos"><div><img src="./resources/img/bean-bag-crochet-feature.webp"><h3>Crochet Bean Bags for Outdoor Play | Easy Tunisian Crochet Pattern</h3><p>Make these crochet bean bags to play with as hacky sacks, as juggling balls or simply in a toss and catch game. Free PDF available!</p></div></a>
-->
